apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: robomart
  # these are replica set labels
  labels:
    project: {{ .Values.deployment.project }}
    component: {{ .Values.deployment.component }}
    tier: frontend
spec:
  replicas: 1
  selector:
    # these labels are used to select pods
    matchLabels:
      project: {{ .Values.deployment.project }}
      component: {{ .Values.deployment.component }}
      tier: frontend
  # pod definition
  template:
    metadata:
      labels:
        project: {{ .Values.deployment.project }}
        component: {{ .Values.deployment.component }}
        tier: frontend
    spec:
      containers:
      - name: frontend
        image: {{ .Values.deployment.imageRepo }}/{{ .Values.deployment.component }}:{{ .Values.deployment.imageVersion }}
        imagePullPolicy: Always
        ports:
        - name: liveness-port
          containerPort: 8080
        readinessProbe:
          httpGet:
            path: /
            port: liveness-port
          failureThreshold: 1
          periodSeconds: 15
        livenessProbe:
          httpGet:
            path: /
            port: liveness-port
          failureThreshold: 1
          periodSeconds: 15
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
      volumes:
      - name: nginx-config
        configMap:
          name: frontend